# deps
node_modules
.pnpm-store

# build
.next
dist
build
.turbo

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.log
coverage

# editor
.vscode/*
!.vscode/settings.json
.idea

# prisma
prisma/*.db
